# --- Python / Django --- 
__pycache__/ 
*.py[cod] 
*.sqlite3
ECHO ist eingeschaltet (ON).
# Virtual Environments 
env/ 
.venv/ 
env_win_backup/ 
ECHO ist eingeschaltet (ON).
# --- Node / Angular --- 
node_modules/ 
dist/ 
.angular/ 
ECHO ist eingeschaltet (ON).
# --- Editor / OS --- 
.vscode/ 
*.swp 
.DS_Store 
ECHO ist eingeschaltet (ON).
# --- Secrets / Environment --- 
.env
