# Verstecke große/minifizierte Bundles vor GitHub-Linguist
static/**            linguist-vendored
staticfiles/**       linguist-generated
frontend/dist/**     linguist-generated
node_modules/**      linguist-vendored
