







# ------------------------------------------------------------------
# Python / Django
# ------------------------------------------------------------------
__pycache__/
*.py[cod]
*.sqlite3

# virtuelle Umgebungen
env/
.venv/
env_win_backup/

# ------------------------------------------------------------------
# Node / Angular
# ------------------------------------------------------------------
node_modules/
dist/
.angular/

# ------------------------------------------------------------------
# Editor / Betriebssystem
# ------------------------------------------------------------------
.vscode/
*.swp
.DS_Store

# ------------------------------------------------------------------
# Secrets / Environment
# ------------------------------------------------------------------
.env

# ------------------------------------------------------------------
# Media- & Video-Uploads (nicht ins Repo!)
# ------------------------------------------------------------------
media/
videos/          # falls du außerhalb von MEDIA_ROOT noch einen Ordner hast
*.mp4
*.mov
*.mkv
*.m4v
*.jpg
*.png
*.webp
